@import "fonts/fonts.css";

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: inherit;
}

html {
    overflow-x: hidden;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

svg {
    height: auto;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* sr_only */

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/* variables */

:root {
    --clr-background: hsl(0 0% 95%);
    --clr-foreground: hsl(0 0% 0%);
    --clr-border: hsl(0 0% 75%);
    --clr-placeholder: hsl(0 0% 35%);
    --clr-accent: hsl(80 85% 66%);

    --fw-normal: 300;
    --fw-semi-bold: 400;
    --fw-bold: 600;

    --fs-heading-1: 4rem;
    --fs-heading-2: 3rem;
    --fs-heading-3: 1.875rem;
    --fs-basic: 1.25rem;
    --fs-detail: 1rem;

    --dm-0050: 0.5rem;
    --dm-0100: 1.5rem;
    --dm-0200: 3rem;
    --dm-0300: 6rem;
}

/* typography media */

/* @media (width < 32rem) {
    html {
        font-size: 87.5%;
    }
} */

/* basic style */

:root {
    font-family: "Inter", sans-serif;
    font-weight: var(--fw-uncut-regular);
    font-style: normal;

    background-color: var(--clr-background);
    color: var(--clr-foreground);
}

@supports (font-variation-settings: normal) {
    :root { font-family: "InterVariable", sans-serif; font-optical-sizing: auto; }
}

/* header */

.header-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: var(--dm-0100);
}

.header-nav > .link-container svg {
    height: var(--dm-0100);
}